<!--men2 original con div1-->
<div class="men2a">
    <div class="login-div1 fixed">
        
        <div class="row center-align">
            <h2>Bienvenido</h2>
          <img src="assets/img/user1.jpg" class="logo responsive-img">
         
          
        </div>
<table>
  <tr>
    <th>Cedula:</th>
    <th>1111111111111111</th>
  </tr>

  <tr>
    <td>Curp:</td>
    <td>AAMM770826MMCLJY42 </td>
  </tr>

  <tr>
    <td>Nombre</td>
    <td>Mayumi</td>
  </tr>

  <tr>
    <td>Apellido Paterno</td>
    <td>Alcanta</td>
  </tr>

  <tr>
    <td>Apellido Materno</td>
    <td>Mujica</td>
  </tr>

  <tr>
    <td>Fecha de nacimiento</td>
    <td>1990-08-02</td>
  </tr>

  <tr>
    <td>Sexo</td>
    <td>F</td>
  </tr>

  <tr>
    <td>Nacionalidad</td>
    <td>Mex</td>
  </tr>

  <tr>
    <td>Especialidad</td>
    <td>1</td>
  </tr>

  <tr>
    <td>Sun Especialidad</td>
    <td>1</td>
  </tr>

  <tr>
    <td>Domicilio</td>
    <td>1</td>
  </tr>

  <tr>
    <td>Clue</td>
    <td>1</td>
  </tr>
<br>
</table>
</div>
</div>
