

    <!--titulo de blog post-->
    <section id="Beneficios">
        <div class="row">
          <div class="col s12">
            <h2>Beneficios de Ixtlilton</h2>
          </div>
        </div>
  
      <section class="section">
        <div class="row">
          <!--borrado articulo-->
          <div class="col m8 text-darken-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia voluptates vel corrupti minima
              numquam ea eligendi, corporis assumenda, nulla cupiditate earum tenetur nobis voluptatibus
              tempora fugiat iure libero, a veniam!
              Accusantium impedit amet in numquam, officiis qui optio, ab adipisci a ut enim, magni nihil
              harum vero cum nemo error animi quisquam distinctio inventore nam. Ea in dolorem sequi animi?
              Ex corrupti eaque impedit iure laudantium est assumenda facere! Minus quod repellendus culpa,
              incidunt suscipit rem id eum nemo unde tempore sunt amet porro modi similique consectetur
              dolorem dolorum accusamus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              voluptas iure cum numquam, assumenda ipsum asperiores facilis sequi, iusto vero vitae ratione
              aliquid iste commodi laudantium! Corporis autem delectus deserunt!Molestias quos cupiditate
              quasi labore. Doloremque hic dolorum provident, quas dolore obcaecati iusto saepe labore placeat
              rem, officiis ab veritatis odio earum consequatur corrupti, officia unde cum adipisci fuga
              aliquid?</p>
          </div>
          <!--seccion de cards-->

          <section>
            <div class="row">

              <article class="col s12 m6 14">
                <div class="card">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Emergencias</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/img/ayuda.gif">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
            </article>

            <article class="col s12 m6 14">
              <div class="card">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Portabilidad</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="assets/img/paciente.jpg">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          </article>

          <article class="col s12 m6 14">
            <div class="card">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Historial medico</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/img/historial.jpg">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        </article>

        <article class="col s12 m6 14">
          <div class="card">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Consultas</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/medico.jpg">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      </article>
      
            </div>
          </section>
        </div>
      </section> 
      </section>
  
  
    
