<div class="doc srow center-align">
  <img src="assets/img/user1.jpg" class="logo1 responsive-img" alt="User image">
  <h1>Bienvenido</h1>
</div>

<div class="nombre">
<p class="flow-text indigo-text text-darken-4">Mayumi Magali Mujica Alcantar</p>
</div>
<li *ngFor="let consulta of consultas">
  {{consulta.receta.diagnostico}}
  {{consulta.diagnostico.descripcion}}
  {{consulta.medico.cedula}}
  <span *ngFor="let medicamento of consulta.medicamentos">
    {{medicamento.dosis}}
    {{medicamento.fechaFin}} <br>
  </span>
</li>

<li>
  {{medicos.nombre}} {{medicos.apellidoPaterno}} {{medicos.apellidoMaterno}}
</li>

<li>
  {{paciente.nombre}} {{paciente.nacionalidad}} {{paciente.discapacidad.descripcion}}
</li>

<li>
  <img alt="qr" src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{qr.QR}}">
</li>


<div class="example-button-row">
  <a mat-raised-button color="primary" routerLink="/bienvenido/codigo">Nueva Consulta</a>
</div>


