

 
<div class="doc row center-align">
  <img src="assets/img/user1.jpg" class="logo responsive-img">
  <h5>Lista de consultas</h5>
</div>


<p class="indigo-text text-darken-4">2020-02-13</p>
<p class="flow-text indigo-text text-darken-4">Médico: Doctor Profesor Patricio</p>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Comentarios">
      <br>
      <h5 align="center">puede cambiar el tamaño de cuadro de comentarios</h5>
      <div class="caja">
<form>
<textarea name="comment" rows=5 cols=50>
Introduzca aquí sus comentarios
</textarea>
</form>
</div>
  </mat-tab>







  <mat-tab label="Historial medico">

              
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    ABSCESO AMEBIANO DEL CEREBRO
                  </mat-panel-title>
                  <mat-panel-description>
                    Doctor Profesor patricio
                  </mat-panel-description>
                  <mat-panel-description>
                    2020-02-13
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
                
                  <p class="indigo-text text-darken-4">2020-02-13</p>
                  <p class="flow-text indigo-text text-darken-4">Médico: Doctor Profesor Patricio</p>
                  <p class="flow-text indigo-text text-darken-4">Diagnostico: ABSCESO AMEBIANO DEL CEREBRO</p>
                  <mat-tab-group>
                    <mat-tab label="Medicinas"> 
                        <table class="tabla1">
                        <tr>
                            <th>Nombre:</th>
                            <td>Paracetamol 200g</td>
                            
                          </tr>
                          <tr>
                            <th>Dosis:</th>
                            <td>1 tableta cada 8 horas</td>
                            
                          </tr>
                          <tr>
                            <th>Fecha inicio:</th>
                            <td>2020-03-25</td>
                            
                          </tr>
                          <tr>
                            <th>Fecha fin:</th>
                            <td>2020-03-27</td>
                          </tr>
                          <tr>
                            <th>Indicaciones adicionales:</th>
                            <td>Si persiste el dolor acudir nuevamente a cita medica</td>
                          </tr>
                        </table>
                        <br>
                        <table class="tabla1">
                        <tr>
                            <th>Nombre:</th>
                            <td>Paracetamol 1 300g</td>
                            
                          </tr>
                          <tr>
                            <th>Dosis:</th>
                            <td>2 tableta cada 8 horas</td>
                            
                          </tr>
                          <tr>
                            <th>Fecha inicio:</th>
                            <td>2020-03-25</td>
                            
                          </tr>
                          <tr>
                            <th>Fecha fin:</th>
                            <td>2020-03-27</td>
                          </tr>
                          <tr>
                            <th>Indicaciones adicionales:</th>
                            <td>Si persiste el dolor acudir nuevamente a cita medica</td>
                          </tr>
                        </table> </mat-tab>
                    <mat-tab label="Recomendacion">
                        <p class="flow-text indigo-text text-darken-4">Cuidado extremo</p>
                    </mat-tab>
                    <mat-tab label="Fotos"> 
                            <div class="row">
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed responsive-img card" width="250" src="assets/img/rad.jpg">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed responsive-img card" width="250" src="assets/img/rad1.jpg">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed responsive-img card" width="250" src="assets/img/rad2.jpg">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed responsive-img card" width="250" src="assets/img/rad3.jpg">
                                </div>
                                <div class="col s12 m6 l4">
                                    <img class="materialboxed responsive-img card" width="250" src="assets/img/rad4.jpg">
                                </div>
                          </div>
                    </mat-tab>
                  </mat-tab-group>
                
            
    
    
              </mat-expansion-panel>
              
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    AMEBIASIS CUTÁNEA
                  </mat-panel-title>
                  <mat-panel-description>
                    Doctor Profesor patricio
                  </mat-panel-description>
                  <mat-panel-description>
                    2020-02-13 
                  </mat-panel-description>
                </mat-expansion-panel-header>
                
                <p class="indigo-text text-darken-4">2020-02-13</p>
                <p class="flow-text indigo-text text-darken-4">Médico: Doctor Profesor Patricio</p>
                <p class="flow-text indigo-text text-darken-4">Diagnostico: ABSCESO AMEBIANO DEL CEREBRO</p>
                <mat-tab-group>
                  <mat-tab label="Medicinas"> 
                      <table class="tabla1">
                      <tr>
                          <th>Nombre:</th>
                          <td>Paracetamol 200g</td>
                          
                        </tr>
                        <tr>
                          <th>Dosis:</th>
                          <td>1 tableta cada 8 horas</td>
                          
                        </tr>
                        <tr>
                          <th>Fecha inicio:</th>
                          <td>2020-03-25</td>
                          
                        </tr>
                        <tr>
                          <th>Fecha fin:</th>
                          <td>2020-03-27</td>
                        </tr>
                        <tr>
                          <th>Indicaciones adicionales:</th>
                          <td>Si persiste el dolor acudir nuevamente a cita medica</td>
                        </tr>
                      </table>
                      <br>
                      <table class="tabla1">
                      <tr>
                          <th>Nombre:</th>
                          <td>Paracetamol 1 300g</td>
                          
                        </tr>
                        <tr>
                          <th>Dosis:</th>
                          <td>2 tableta cada 8 horas</td>
                          
                        </tr>
                        <tr>
                          <th>Fecha inicio:</th>
                          <td>2020-03-25</td>
                          
                        </tr>
                        <tr>
                          <th>Fecha fin:</th>
                          <td>2020-03-27</td>
                        </tr>
                        <tr>
                          <th>Indicaciones adicionales:</th>
                          <td>Si persiste el dolor acudir nuevamente a cita medica</td>
                        </tr>
                      </table> </mat-tab>
                  <mat-tab label="Recomendacion">
                      <p class="flow-text indigo-text text-darken-4">Cuidado extremo</p>
                  </mat-tab>
                  <mat-tab label="Fotos"> 
                          <div class="row">
                              <div class="col s12 m6 l4">
                                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad.jpg">
                              </div>
                              <div class="col s12 m6 l4">
                                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad1.jpg">
                              </div>
                              <div class="col s12 m6 l4">
                                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad2.jpg">
                              </div>
                              <div class="col s12 m6 l4">
                                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad3.jpg">
                              </div>
                              <div class="col s12 m6 l4">
                                  <img class="materialboxed responsive-img card" width="250" src="assets/img/rad4.jpg">
                              </div>
                        </div>
                  </mat-tab>
                </mat-tab-group>


              </mat-expansion-panel>
            </mat-accordion>
    

      
  </mat-tab>
  <!--<mat-tab label="Third">
      
    
          <section class="container section scrollspy" >
              <div class="row"><br></div>
      
              <div class="row">
      
                <div class="col s12 l4 offset-l1 push-l7">
                  <img src="assets/img/qr.jpg" alt="" class="responsive-img materialboxed">
                </div>
                <div class="col s12 l6 offset-l1 pull-l5 right-align">
                  <h2 class="indigo-text text-darken-4 right-align">Su codigo QR</h2>
                  <p  ALIGN="justify">Este QR contiene su perfil publico</p>
                </div>
              </div>
            </section>
  </mat-tab>-->
</mat-tab-group>

 