
<div class="men1 responsive">
    <div class="login-div2 fixed">
        <div class="row center-align">
          <img src="assets/img/user1.jpg" class="logo responsive-img">
          <h5>Inicie sesión en Ixtlilton</h5>
        </div>

      <div class="row">
        <div class="input-field col l6 col-m6">
          <i class="material-icons prefix">account_circle</i>
          <input type="text" name="nombres" id="nombres">
          <label for="nombres">Nombres</label>
        </div>
        <div class="input-field col l6 col-m6">
          <i class="material-icons prefix">account_circle</i>
          <input type="text" name="apellidos" id="apellidos">
          <label for="apellidos">Apellidos</label>
        </div>
      </div>
      <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">date_range</i>
        <input class="datepicker" type="text" name="fecha_nacimiento" id="fecha_nacimiento">
        <label for="fecha_nacimiento">Fecha de nacimiento</label>
      </div>
    </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email_input" type="email" class="validate">
            <label for="email_input">Email</label>
            <span class="helper-text" data-error="Incorrecto" data-success="correcto"></span>
          </div>
        </div>
        <div class="row">
          <!--pasword-->
          <div class="input-field col s12 center-align">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password_input" type="password" class="validate">
            <label for="password_input">Password</label>
          </div>
        </div>
        <div class="row"></div>
        <div class="row">
          <div class="col s12 center-align">Al registrarte, aceptas nuestros <a class="link" href=""><b>Términos de servicio</b>  y <b>Politicas de privacidad</b></a></div>
          <div class="row"></div>
          <div class="col s12 center-align"><a class="waves-effect waves-light blue btn link" routerLink="/inicio">Registrate</a></div>
        </div>
        <div class="row"></div>
        <div class="col s12 center-align">¿Ya tienes una cuenta? <a class="link" routerLink="/iniciar"><b>Haga clic aquí para ingresar</b></a>
        </div>
      </div>
    </div>
  